@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right-r.css');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.header-box{
    padding-left: 20px;
}




.sidebar {
  background: rgb(255, 255, 255);
  min-width: 20%;
  height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 0px;
  }

  /* Style the links inside the sidebar */
  .sidebar a {
	padding: 6px 100px 6px 16px;
	text-decoration: none;
	display: flex;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	display: block;
  }

  /* Change the color of links on hover */
  .sidebar a:hover {
	color: #f1f1f1;
  }

  /* Add a black background color to the top navigation */
  .topnav {
	background-color: #333;
	overflow: hidden;
  }

  /* Style the links inside the top navigation */
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }

.text-input-bar .button-21 {
  float: right;
	width: 8.66% ;
	height: 100%;
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: white; 
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  justify-content: center;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  background-image: url('all.svg');
}

.text-input-bar .button-21:hover{
  background-color: #3597d9;
}


.chat {
	color: white;
	font-size: 25px;
	font-family: 'Courier New', Courier, monospace;
	position: fixed;
	top: 2%;
	left: 24vw;
	width: 85%;
	height: 85%;
  }

.chat tbody{
  width: 80%;
}
  
.chat .question1 .question-text {
  color: #3EB2FD;
  width: 100%;
}   



.chat .question1 .delete-btn a{
  text-decoration: none;
  color: white;
}
  
.chat .answer1 td {
	color: white;
}

.credit {
	position: absolute;
	bottom: 0%;
	left: 55%;
	color:#b3b3b3;
	font-family: Arial, Helvetica, sans-serif;
}

.chat tbody {
    display: block;
    overflow-y: scroll;
	  width: 85%;
    height: 100%; /* adjust to the desired height */
}

.chat tr {
    border-bottom: 1px solid #ccc;
}

.chat td {
    padding: 10px;
}

.sidebar li.active a{
  color: rgb(0, 0, 0);
  font-family: Helvetica;
  font-size: 1.1vw;
}

.sidebar li.active .new-chat{
  border: solid;
  padding: 10px;
  border-color: #3EB2FD;
  border-radius: 10px;
}


.sidebar li.active a:hover{
  color: rgb(0, 0, 0);
  background-color: #b0dcf9ab;
}


.sidebar li.items a{
  color: rgb(0, 0, 0);
  font-family: Helvetica;
  padding: 10px;
  font-size: 1.1vw;
  left: -10px;
}

.sidebar ul{
  list-style-type: none;
}

.sidebar li.items a:hover{
  color: rgb(173, 173, 173);
}

.header-box .chat-title{ 
  font-family: Helvetica;
  padding-left: 8px;
  font-size: 1.7vw;
}

.header-box .robot{ 
  font-size: 1.8vw;
  padding: 4px 10px;
  background: black;
  color: white;
  border-radius: 10px;
}

ul{
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.text-input-bar input{
  background: white;
  border: none;
  width: 90%;
  height: 93.4%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  outline-width: 0;
  padding-left: 8px;
}

.text-input-bar{
  background-color: transparent;
  position: absolute;
	padding-left: 10px;
  border: none;
	position: absolute;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
	bottom: 7%;
	left: 35%;
	width: 50vw;
	height: 5vh;
  padding: 0;
}

/* input {
	position: absolute;
	bottom: 3%;
	width: 70vw;
	height: 5vh;
} */

/* .text_input {
	padding-left: 10px;
	position: absolute;
	bottom: 7%;
	left: 35%;
	width: 50vw;
	height: 5vh;

} */